body {
  background-color: #fff0df !important;
}

/* Styling for SLIDESHOW Starts Here*/
/* ------------------------------- */

.carousel a img {
  padding-top: 1% !important;
}

/* ------------------------------- */
/* Styling for SLIDESHOW Ends Here*/

/* Styling for EVENTS Starts Here*/
/* ------------------------------- */
.eventsHeader {
  font-family: bebas neue;
}

.eventCards a img {
  /* width: 25%; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.eventCards figcaption {
  /* width: 25%; */
  font-family: bebas neue;
  background-color: #8b85898a !important;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 1%;
}

.loadButton button {
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 1%;
}
/* ------------------------------- */
/* Styling for EVENTS Ends Here*/
