#myAccountSidebar {
  background-color: #fff0df;
  width: 300px;
  height: 100%;
  padding: 20px;
}

#myAccountSidebar h1 {
  font-size: 30px;
  font-family: "Bebas Neue";
}

#myAccountSidebar a {
  font-size: 25px;
  font-family: "Bebas Neue";
  text-decoration: none;
  color: #555;
}

#myAccountSidebar a:hover {
  background-color: #b4aaa9;
  color: #ffd88a;
  display: inline-block;
}

.offcanvas-body p {
  text-align: left;
}
