html,
body {
  height: 100% !important;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/**************************************** Custom CSS for the navigation bar */
.custom-navbar {
  background-color: #b4aaa9;
  color: #000;
  font-family: bebas neue;
  font-size: 25px;
  padding: 20px 0;
  text-align: center;
}

.custom-navbar h1 {
  font-size: 36px;
  margin: 0;
}

.custom-navbar p {
  font-size: 18px;
  margin: 10px 0;
}

/* Center the navigation links */
.navbar-nav {
  display: flex;
  justify-content: center;
}

.navbar-nav .nav-link {
  color: #000;
  font-size: 25px;
}

.navbar-nav .nav-link:hover {
  color: #ffd88a;
}

/* Center the search bar */
.search-bar {
  display: flex;
  justify-content: center;
  color: #000;
}

/* Make the search bar input rounded */
.search-bar input {
  border-radius: 25px; /* Adjust the value to control the roundness */
}

/**************************************** Custom CSS for the footer */
.custom-footer {
  background-color: #8b8589; /* Taupe color */
  color: #000;
  text-align: center;
  font-family: "Bebas Neue";
  padding: 20px 0;
  font-size: 20px;
}

#footer path {
  border-radius: 40px;
}

/* .p-4 {
  background-color: #b4aaa9;
} */

#footer {
  background-color: #b4aaa9;
}

.btn-primary {
  border-radius: 25px !important;
}

.bg-light {
  background-color: #b4aaa9;
}
